<section class="about" id="about">
  <div class="container">
    <p class="about__title-toptext">tradition and love</p>
    <h2 class="about__title">how it&#39;s made?</h2>
    <div class="about__content">
      <picture class="about__picture">
        <source
          srcset="./images/cow.png 1x, ./images/cow-2x.png 2x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="./images/cow-tab.png 1x, ./images/cow-tab-2x.png 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./images/cow-mob.png 1x, ./images/cow-mob-2x.png 2x"
          media="(min-width: 320px)"
        />
        <img src="./images/cow.png" alt="cow with milk" />
      </picture>
      <div class="about__text">
        <p class="about__top-text">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
        <p class="about__centre-text">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.
        </p>
        <p class="about__bottom-text">
          Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button type="button" class="about__btn" data-about-modal-open>
          Read more
          <svg class="about__icon">
            <use href="./images/icons.svg#about-icon"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
