<div class="about__backdrop is-hidden" data-about-modal>
  <div class="about__modal">
    <button type="button" class="about-close__btn" data-about-modal-close>
      <svg class="about-close__icon" width="18" height="18">
        <use href="./images/icons.svg#icon-close-about"></use>
      </svg>
    </button>
    <h2 class="about-modal__title">Our Best Homemade Ice Cream Recipes</h2>
    <p class="about-modal__text">
      Whether you’re a fan of classic vanilla in a dish or all about a mile-high
      cone with scoops in a variety of flavors, nothing beats ice cream. With
      these recipes, there’s something for everyone — from classic flavors like
      vanilla or cookies and cream to creative takes made with vegan-friendly
      ingredients.
    </p>
    <p class="about-modal__text">
      Making your own ice cream is often seen as a labour of love, but it's
      surprisingly straightforward once you know how. From dairy-free delights
      to classic chocolate, we’ve got plenty of homemade ice-cream recipes to
      make your heart melt.
    </p>
    <p class="about-modal__text">
      Our Chocolate ice cream it is a proper decadent and rich, this classic
      chocolate ice-cream recipe is great to have up your sleeve. Delicious with
      a handful of seasonal raspberries or strawberries when summer arrives.
    </p>
    <p class="about-modal__text">
      Our Peach ice cream is Spiked with a splash of brandy (or peach
      schnapps!), this fruity little number is proper summer fare. What’s more,
      you only need four ingredients.
    </p>
    <p class="about-modal__text">
      Our Avocado ice cream is Smooth, creamy and deliciously silky, avocado is
      a fantastic addition here. With citrussy zest and fragrant vanilla, this
      is next-level homemade ice cream.
    </p>
    <p class="about-modal__text">
      Our Dairy-free vanilla ice cream it is a real joy, whether you have a
      dairy-free diet or not!
    </p>
    <p class="about-modal__text">
      Our Almond & honey dairy-free ice cream it is a Nutty almond and hazelnut
      notes pair with sweet runny honey in this dairy-free ice-cream recipe
      that’s something truly special. A splash of Amaretto will take it up a
      notch, if that’s your thing.
    </p>
    <p class="about-modal__text">
      Our Roasted banana & cinnamon ice cream - it is a recipe is ridiculously
      good. Roasting bananas with orange zest, honey and cinnamon creates the
      most incredible flavour combo.
    </p>
  </div>
</div>
