<section class="advan" id="advantages">
  <div class="container">
    <h2 class="visually-hidden">Our advantages</h2>
    <ul class="advan-list list">
      <li class="advan-list_element">
        <p class="advan-list_text picture_first">
          <span class="advan-list_meaning">721</span>Aliquam ac dui vel dui
          vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="advan-list_element">
        <p class="advan-list_text picture_another">
          <span class="advan-list_meaning">16kg</span>Aliquam ac dui vel dui
          vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="advan-list_element">
        <p class="advan-list_text picture_third">
          <span class="advan-list_meaning">84</span>Aliquam ac dui vel dui
          vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
