<section class="contacts" id="contacts">
  <div class="container">
    <h2 class="visually-hidden">Contacts of our cafes</h2>
    <ul class="contacts__list list">
      <li class="contacts__item item">
        <p class="contacts__title">CAFE</p>
        <p class="contacts__town">Chicago</p>
        <p class="contacts__desc">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="work-schedule list">
          <li class="work-schedule__item">
            <p class="work-schedule__day">Monday - Friday</p>
            <p class="work-schedule__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="work-schedule__item">
            <p class="work-schedule__day">Saturday - Sunday</p>
            <p class="work-schedule__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="connect list">
          <li>
            <a href="tel:+610383766284" class="connect__tel link">
              +61(0) 383 766 284</a
            >
          </li>
          <li>
            <a href="mailto:noreply@envato.com" class="connect__email link">
              noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__item item">
        <p class="contacts__title contacts__title--green">FOODTRUCK</p>
        <p class="contacts__town">Los Angeles</p>
        <p class="contacts__desc">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="work-schedule list">
          <li class="work-schedule__item">
            <p class="work-schedule__day">Monday - Friday</p>
            <p class="work-schedule__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="work-schedule__item">
            <p class="work-schedule__day">Saturday - Sunday</p>
            <p class="work-schedule__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="connect list">
          <li>
            <a href="tel:+610383766284" class="connect__tel link">
              +61(0) 383 766 284</a
            >
          </li>
          <li>
            <a href="mailto:noreply@envato.com" class="connect__email link">
              noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__item item">
        <p class="contacts__title">CAFE</p>
        <p class="contacts__town">New York</p>
        <p class="contacts__desc">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="work-schedule list">
          <li class="work-schedule__item">
            <p class="work-schedule__day">Monday - Friday</p>
            <p class="work-schedule__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="work-schedule__item">
            <p class="work-schedule__day">Saturday - Sunday</p>
            <p class="work-schedule__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="connect list">
          <li>
            <a href="tel:+610383766284" class="connect__tel link">
              +61(0) 383 766 284</a
            >
          </li>
          <li>
            <a href="mailto:noreply@envato.com" class="connect__email link">
              noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <ul class="cnt-btn list">
      <li class="cnt-btn__item item">
        <button type="button" class="cnt-btn__loc">
          Our Locations
          <svg width="6" height="10" class="button__svg">
            <use href="./images/icons.svg#btn-arrow-w"></use>
          </svg>
        </button>
      </li>
      <li class="cnt-btn__item item">
        <button type="button" class="cnt-btn__fr">
          Franchise
          <svg width="6" height="10" class="button__svg">
            <use href="./images/icons.svg#btn-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
