<section class="customer">
  <h2 class="visually-hidden">reviews</h2>
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide customer-item">
        <div class="container">
          <img
            src="./images/testimonials1.jpg"
            alt="custumer1"
            class="customer-foto"
            width="85"
            height="85"
          />
          <article class="customer__text">
            <h2 class="visually-hidden">reviews1</h2>
            <div class="customer__text-box">
              <p class="customer__top-text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </article>
          <div class="customer_city">
            <p class="customer_city-text">Emily, Los Angeles</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="container">
          <img
            src="./images/testimonials2.jpg"
            alt="custumer1"
            class="customer-foto"
            width="85"
            height="85"
          />
          <article class="customer__text">
            <h2 class="visually-hidden">reviews1</h2>
            <div class="customer__text-box">
              <p class="customer__top-text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </article>
          <div class="customer_city">
            <p class="customer_city-text">Loren, Boston</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="container">
          <img
            src="./images/testimonials3.jpg"
            alt="custumer1"
            class="customer-foto"
            width="85"
            height="85"
          />
          <article class="customer__text">
            <h2 class="visually-hidden">reviews1</h2>
            <div class="customer__text-box">
              <p class="customer__top-text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </article>
          <div class="customer_city">
            <p class="customer_city-text">Dora, Miami</p>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
