<footer class="footer">
  <div class="container">
    <div class="footer__container-tablet">
      <p class="footer__text">
        homemade ice cream made<span class="footer__text-main"
          >with passion</span
        >
      </p>
      <div>
        <ul class="footer__list list">
          <li class="footer__item">
            <a
              class="footer__contact-link"
              target="_blank"
              href="https://github.com/"
              rel="noopener nofollow noreferrer"
              ><svg class="footer__contact-svg" width="20" height="20">
                <use href="./images/icons.svg#icon-group-github"></use></svg
            ></a>
          </li>
          <li class="footer__item">
            <a
              class="footer__contact-link"
              target="_blank"
              href="https://telegram.org/"
              rel="noopener nofollow noreferrer"
              ><svg class="footer__contact-svg" width="20" height="16">
                <use href="./images/icons.svg#icon-group-telegram"></use></svg
            ></a>
          </li>
          <li class="footer__item">
            <a
              class="footer__contact-link"
              target="_blank"
              href="https://www.facebook.com/"
              rel="noopener nofollow noreferrer"
              ><svg class="footer__contact-svg" width="9" height="20">
                <use href="./images/icons.svg#icon-group-facebook"></use></svg
            ></a>
          </li>
        </ul>
        <p class="footer__text-tel">
          Feel free to contact<a
            class="footer__tel link"
            href="tel:+610383766284"
            >+61 (0) 383 766 284</a
          >
        </p>
      </div>
    </div>
    <small class="footer__text-bottom">
      &copy; 2022 - IceCream. All Rights Reserved.
    </small>
  </div>
</footer>
