<section class="gallery">
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <ul class="gallery__list list">
      <li class="gallery__item gallery__item-1">
        <div class="gallery__thumb card">
          <picture>
            <source
              srcset="./images/gal-1-min.jpg 1x, ./images/gal-1@2x-min.jpg 2x"
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/gal-tab-1-min.jpg    1x,
                ./images/gal-tab-1@2x-min.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/gal-mob1-min.jpg    1x,
                ./images/gal-mob1@2x-min.jpg 2x
              "
              media="(min-width:480px)"
            />
            <img
              src="./images/gal-1-min.jpg"
              alt="фото 1"
              class="gallery-img"
            />
          </picture>
        </div>
      </li>
      <li class="gallery__item gallery__item-2">
        <div class="gallery__thumb card">
          <picture>
            <source
              srcset="./images/gal-2-min.jpg 1x, ./images/gal-2@2x-min.jpg 2x"
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/gal-tab-2-min.jpg    1x,
                ./images/gal-tab-2@2x-min.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/gal-mob2-min.jpg    1x,
                ./images/gal-mob2@2x-min.jpg 2x
              "
              media="(min-width:480px)"
            />
            <img
              src="./images/gal-2-min.jpg"
              alt="фото 2"
              class="gallery-img"
            />
          </picture>
        </div>
      </li>
      <li class="gallery__item gallery__item-3">
        <div class="gallery__thumb card">
          <picture>
            <source
              srcset="./images/gal-3-min.jpg 1x, ./images/gal-3@2x-min.jpg 2x"
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/gal-tab-3-min.jpg    1x,
                ./images/gal-tab-3@2x-min.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/gal-mob3-min.jpg    1x,
                ./images/gal-mob3@2x-min.jpg 2x
              "
              media="(min-width:480px)"
            />
            <img
              src="./images/gal-3-min.jpg"
              alt="фото 3"
              class="gallery-img"
            />
          </picture>
        </div>
      </li>
      <li class="gallery__item gallery__item-4">
        <div class="gallery__thumb card">
          <picture>
            <source
              srcset="./images/gal-4-min.jpg 1x, ./images/gal-4@2x-min.jpg 2x"
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/gal-tab-4-min.jpg    1x,
                ./images/gal-tab-4@2x-min.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/gal-mob4-min.jpg    1x,
                ./images/gal-mob4@2x-min.jpg 2x
              "
              media="(min-width:480px)"
            />
            <img
              src="./images/gal-4-min.jpg"
              alt="фото 4"
              class="gallery-img"
            />
          </picture>
        </div>
      </li>
      <li class="gallery__item gallery__item-5">
        <div class="gallery__thumb card">
          <picture>
            <source
              srcset="./images/gal-5-min.jpg 1x, ./images/gal-5@2x-min.jpg 2x"
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/gal-tab-5-min.jpg    1x,
                ./images/gal-tab-5@2x-min.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/gal-mob5-min.jpg    1x,
                ./images/gal-mob5@2x-min.jpg 2x
              "
              media="(min-width:480px)"
            />
            <img
              src="./images/gal-5-min.jpg"
              alt="фото 5"
              class="gallery-img"
            />
          </picture>
        </div>
      </li>
      <li class="gallery__item gallery__item-6">
        <div class="gallery__thumb card">
          <picture>
            <source
              srcset="./images/gal-6-min.jpg 1x, ./images/gal-6@2x-min.jpg 2x"
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/gal-tab-6-min.jpg    1x,
                ./images/gal-tab-6@2x-min.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/gal-mob6-min.jpg    1x,
                ./images/gal-mob6@2x-min.jpg 2x
              "
              media="(min-width:480px)"
            />
            <img
              src="./images/gal-6-min.jpg"
              alt="фото 6"
              class="gallery-img"
            />
          </picture>
        </div>
      </li>
      <li class="gallery__item gallery__item-7">
        <div class="gallery__thumb card">
          <picture>
            <source
              srcset="./images/gal-7-min.jpg 1x, ./images/gal-7@2x-min.jpg 2x"
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/gal-tab-7-min.jpg    1x,
                ./images/gal-tab-7@2x-min.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/gal-mob7-min.jpg    1x,
                ./images/gal-mob7@2x-min.jpg 2x
              "
              media="(min-width:480px)"
            />
            <img
              src="./images/gal-7-min.jpg"
              alt="фото 7"
              class="gallery-img"
            />
          </picture>
        </div>
      </li>
      <li class="gallery__item gallery__item-8">
        <div class="gallery__thumb card">
          <picture>
            <source
              srcset="./images/gal-8-min.jpg 1x, ./images/gal-8@2x-min.jpg 2x"
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/gal-tab-8-min.jpg    1x,
                ./images/gal-tab-8@2x-min.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/gal-mob8-min.jpg    1x,
                ./images/gal-mob8@2x-min.jpg 2x
              "
              media="(min-width:480px)"
            />
            <img
              src="./images/gal-8-min.jpg"
              alt="фото 8"
              class="gallery-img"
            />
          </picture>
        </div>
      </li>
      <li class="gallery__item gallery__item-9">
        <div class="gallery__thumb card">
          <picture>
            <source
              srcset="./images/gal-9-min.jpg 1x, ./images/gal-9@2x-min.jpg 2x"
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/gal-tab-9-min.jpg    1x,
                ./images/gal-tab-9@2x-min.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/gal-mob9-min.jpg    1x,
                ./images/gal-mob9@2x-min.jpg 2x
              "
              media="(min-width:480px)"
            />
            <img
              src="./images/gal-9-min.jpg"
              alt="фото 9"
              class="gallery-img"
            />
          </picture>
        </div>
      </li>
      <li class="gallery__item gallery__item-10">
        <div class="gallery__thumb card">
          <picture class="gallery__picture">
            <source
              srcset="./images/gal-10-min.jpg 1x, ./images/gal-10@2x-min.jpg 2x"
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/gal-tab-10-min.jpg    1x,
                ./images/gal-tab-10@2x-min.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/gal-mob10-min.jpg    1x,
                ./images/gal-mob10@2x-min.jpg 2x
              "
              media="(min-width:480px)"
            />
            <img
              src="./images/gal-10-min.jpg"
              alt="фото 10"
              class="gallery-img"
            />
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>
