<section class="section-products" id="products">
  <div class="container">
    <p class="products__subtitle">100% natural</p>
    <h2 class="products__title title">products</h2>
    <ul class="products-list list">
      <li class="products-list__item item-first">
        <div class="products-list__container ">
          <h3 class="products-list__title title-first">ice cream</h3>
          <p class="products-list__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <div class="button-wrap">
            <button type="button" class="arrow-btn">
              <svg class="icon-arrow" width="10" height="10">
                <use href="./images/icons.svg#icon-arrow"></use>
              </svg>
            </button>
          </div>
          <div class="overlay">
            <h3 class="overlay__title">ice cream</h3>
            <p class="overlay__content">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad culpa
              numquam, delectus maiores necessitatibus, sit, autem quos mollitia
              odit consequatur esse minus vitae sint debitis ipsa? Quisquam
              asperiores rem dolor?Lorem ipsum dolor sit amet consectetur,
              adipisicing elit.
            </p>
          </div>
        </div>
      </li>
      <li class="products-list__item item-second">
        <div class="products-list__container ">
          <h3 class="products-list__title title-second">ice coffee</h3>
          <p class="products-list__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <div class="container-overlay"></div>
          <div class="overlay">
            <h3 class="overlay__title">ice coffee</h3>
            <p class="overlay__content">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad culpa
              numquam, delectus maiores necessitatibus, sit, autem quos mollitia
              odit consequatur esse minus vitae sint debitis ipsa? Quisquam
              asperiores rem dolor?Lorem ipsum dolor sit amet consectetur,
              adipisicing elit.
            </p>
          </div>
          <div class="button-wrap">
            <button type="button" class="arrow-btn">
              <svg class="icon-arrow" width="10" height="10">
                <use href="./images/icons.svg#icon-arrow"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
      <li class="products-list__item item-third">
        <div class="products-list__container ">
          <h3 class="products-list__title title-third">milkshakes</h3>
          <p class="products-list__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <div class="overlay">
            <h3 class="overlay__title">milkshakes</h3>
            <p class="overlay__content">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad culpa
              numquam, delectus maiores necessitatibus, sit, autem quos mollitia
              odit consequatur esse minus vitae sint debitis ipsa? Quisquam
              asperiores rem dolor?Lorem ipsum dolor sit amet consectetur,
              adipisicing elit.
            </p>
          </div>
          <div class="button-wrap">
            <button type="button" class="arrow-btn">
              <svg class="icon-arrow" width="10" height="10">
                <use href="./images/icons.svg#icon-arrow"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
